{% extends 'base.html' %}

{% block nav-home %}active{% endblock nav-home %}

{% block content %}
<div class="col col-md-6 mx-auto">
    <h1 class="w-100 text-center mt-4 mb-3">Mon compte</h1>
    <h2 class="mb-3">Informations</h2>
    <table class="table">
        <tr>
            <th>Compte</th>
            <td class="text-muted">{{ user.username }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td class="text-muted">{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td class="text-muted">{{ user.first_name }}</td>
        </tr>
    </table>
    <h2 class="mb-3">Mot de passe</h2>
    <a class="btn btn-success" href="{% url 'password_change' %}">Changer de mot de passe</a>
</div>

{% endblock content %}