{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
<div class="col col-sm-4 mx-auto">
    <h2 class="text-center mt-3">Connectez-vous</h2>
    <form method="post">
        {% for field in form.visible_fields %}
        <div class="form-group m-2">
            {% render_field field class="form-control mt-4 mb-4" placeholder=field.label %}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        {% csrf_token %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>
</div>
{% endblock content %}