{% load static %}

<div class="card align-self-start m-2 {% if agent.role != 'Autre' %}border-primary{% endif %}"
     style="max-width: 240px; min-height: 350px;">
    <div class="card-header flex-fill">
        {% if agent.image %}
            <img src="{{ agent.image.url }}" class="card-img-top mb-1">
        {% else %}
            <img src="{% static 'images/default-picture.jpeg' %}" class="card-img-top mb-1">
        {% endif %}
        <div class="row  align-items-start">
            <h4 class="card-title col-10 align-self-center">{{ agent.first_name }} {{ agent.last_name }}</h4>
            {% if agent.has_informations %}
                <a class="btn btn-primary col-2" data-bs-toggle="collapse" role="button"
                   aria-expanded="false" aria-controls="collapseExample" aria-current="true"
                   href="#info-{{ agent.pk }}"><i class="bi bi-chevron-double-down"></i>
                </a>
            {% endif %}
        </div>
    </div>
    {% if agent.has_informations %}
    <div class="collapse" id="info-{{ agent.pk }}">
        <div class="card-body">
            {% if agent.grade %}
                <h5 class="card-subtitle text-muted mb-1">Grade</h5>
                <div class="row">
                    <p class="card-text bg-light border col-10">{{ agent.grade }}</p>
                    <i class="bi bi-files col-2" title="Copier" role="button"></i>
                </div>
            {% endif %}
            {%if agent.registration_number %}
            <h5 class="card-subtitle text-muted mb-1">Matricule</h5>
            <div class="row">
                <p class="card-text bg-light border col-10">{{ agent.registration_number }}</p>
                <i class="bi bi-files col-2" title="Copier" role="button"></i>
            </div>
            {% endif %}
            {%if agent.mail %}
            <h5 class="card-subtitle text-muted mb-1">Mail</h5>
            <div class="row">
                <p class="card-text bg-light border col-10">{{ agent.mail }}</p>
                <i class="bi bi-files col-2" title="Copier" role="button"></i>
            </div>
            {% endif %}
            {% if agent.phone %}
            <h5 class="card-subtitle text-muted mb-1">Poste fixe</h5>
            <div class="row">
                <p class="card-text bg-light border col-10">{{ agent.phone }}</p>
                <i class="bi bi-files col-2" title="Copier" role="button"></i>
            </div>
            {% endif %}
            {% if agent.mobile %}
            <h5 class="card-subtitle text-muted mb-1">Mobile</h5>
            <div class="row">
                <p class="card-text bg-light border col-10">{{ agent.mobile }}</p>
                <i class="bi bi-files col-2" title="Copier" role="button"></i>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if agent.role == 'Chef' %}
        <div class="card-footer text-primary">Chef de service</div>
    {% elif agent.role == 'Adjoint' %}
        <div class="card-footer text-primary">Adjoint au chef de service</div>
    {% elif agent.role == 'Secrétaire' %}
        <div class="card-footer text-primary">Secrétariat</div>
    {% endif %}
</div>
