<div class="card mb-3 {% if agent.role != 'Autre' %}border-primary{% endif %}" style="max-width: 200px;">
    {% if agent.image %}
    <img src="{{ agent.image.url }}" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ agent.first_name }} <span
                style="text-transform: uppercase;">{{ agent.last_name }}</span>
        </h5>
        <p class="card-text"><strong>Matricule :</strong> {{ agent.police_number }}</p>
        <p class="card-text"><strong>Grade :</strong> {{ agent.police_rank }}</p>
    </div>
    {% if agent.role == 'Chef' %}
        <div class="card-footer text-primary">Chef de service</div>
    {% elif agent.role == 'Adjoint' %}
        <div class="card-footer text-primary">Adjoint au chef de service</div>
    {% elif agent.role == 'Secrétaire' %}
        <div class="card-footer text-primary">Secrétariat</div>
    {% endif %}
</div>

