{% load mptt_tags %}

<div class="accordion-item">
    {% recursetree services %}
        <div class="accordion-header">
            <button class="accordion-button {% if node.level != 0 %}collapsed{% endif %}"
            type="button" data-bs-toggle="collapse" data-bs-target="#panel-{{ node.pk }}" aria-expanded="true"
            aria-controls="panels-{{ node.pk }}">
                {{ node.name }}
            </button>
        </div>
    <div id="panel-{{ node.pk }}" class="accordion-collapse {% if node.level != 0 %}collapse{% endif %}"
    aria-labelledby="panel-{{ node.pk }}">
        <div class="accordion-body">
            <a href="{% url 'service' node.id %}" class="btn btn-primary mb-3"
            title="Trombinoscope {{ node.name }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg> Trombinoscope</a>
            <a href="{% url 'annuaire' %}#service-{{ node.id }}" class="btn btn-primary mb-3"
               title="Annuaire {{ node.name }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                    <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                </svg> Annuaire</a>
        {% if node.children %}
            {%include 'app/partials/service_list_snippet.html' with services=node.children.all %}
        {% endif %}
    {% endrecursetree %}
        </div>
    </div>
</div>