{% load mptt_tags %}

<div class="accordion-item">
    {% recursetree services %}
        <div class="accordion-header">
            <button class="accordion-button {% if node.level != 0 %}collapsed{% endif %}"
            type="button" data-bs-toggle="collapse" data-bs-target="#panel-{{ node.pk }}" aria-expanded="true"
            aria-controls="panels-{{ node.pk }}">
                {{ node.name }}
            </button>
        </div>
    <div id="panel-{{ node.pk }}" class="accordion-collapse {% if node.level != 0 %}collapse{% endif %}"
    aria-labelledby="panel-{{ node.pk }}">
        <div class="accordion-body">
            <a href="{% url 'service' node.id %}" class="btn btn-primary mb-3"
            title="Trombinoscope {{ node.name }}">
                <i class="bi bi-file-person"></i> Trombinoscope</a>
            <a href="{% url 'annuaire' %}#service-{{ node.id }}" class="btn btn-primary mb-3"
               title="Annuaire {{ node.name }}">
                <i class="bi bi-journal-text"></i> Annuaire</a>
        {% if node.children %}
            {%include 'app/partials/service_list_snippet.html' with services=node.children.all %}
        {% endif %}
    {% endrecursetree %}
        </div>
    </div>
</div>