{% load mptt_tags %}

<div class="container">
    <div class="d-flex flex-wrap justify-content-evenly">
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Chef' %}
                {% include 'app/partials/agent_card_snippet.html' %}
            {% endif %}
        {% endfor %}
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Adjoint' %}
                {% include 'app/partials/agent_card_snippet.html' %}
            {% endif %}
        {% endfor %}
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Secrétaire' %}
                {% include 'app/partials/agent_card_snippet.html' %}
            {% endif %}
        {% endfor %}
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Autre' %}
                {% include 'app/partials/agent_card_snippet.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% recursetree service.children.all %}
    {% if node.children %}
        <div class="bg-light bg-gradient border-bottom border-2
        mb-3 mt-3 h4 d-flex justify-content-between align-items-center">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-3" style="--bs-breadcrumb-divider: '>';">
            {% for parent in node.get_parents %}
                <li class="breadcrumb-item">
                    <a href="{% url 'service' parent.id %}" class="d-none d-md-inline">
                        {% if parent.acronym %}
                            {{ parent.acronym }}
                        {% else %}
                            {{ parent.name }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
                <li class="breadcrumb-item"><a href="{% url 'service' node.id %}">{{ node.name }}</a></li>
            </ol>
            </nav>
            <a href="{% url 'annuaire' %}#service-{{ node.id }}" class="btn btn-outline-primary m-3"
               title="Annuaire {{ node.name }}">
                <i class="bi bi-journal-text"></i>
            </a>
        </div>
        {% include 'app/partials/service_detail_snippet.html' with service=node %}
    {% endif %}
{% endrecursetree %}