{% load mptt_tags %}

<div class="container">
    <div class="d-flex flex-wrap justify-content-evenly">
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Chef' %}
                {% include 'app/partials/agent_card_snippet.html' %}
            {% endif %}
        {% endfor %}
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Adjoint' %}
                {% include 'app/partials/agent_card_snippet.html' %}
            {% endif %}
        {% endfor %}
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Secrétaire' %}
                {% include 'app/partials/agent_card_snippet.html' %}
            {% endif %}
        {% endfor %}
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Autre' %}
                {% include 'app/partials/agent_card_snippet.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% recursetree service.children.all %}
    {% if node.children %}
        <div class="bg-light bg-gradient p-2 mb-3 h4">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            {% for parent in node.get_parents %}
                <li class="breadcrumb-item">
                    <a href="{% url 'service' parent.id %}" class="d-none d-md-inline">{{ parent.name }}</a>
                </li>
            {% endfor %}
                <li class="breadcrumb-item"><a href="{% url 'service' node.id %}">{{ node.name }}</a></li>
            </ol>
            </nav>
        </div>
        {% include 'app/partials/service_detail_snippet.html' with service=node %}
    {% endif %}
{% endrecursetree %}