{% extends 'base.html' %}
{% load mptt_tags %}

{% block nav-phone-book %}active{% endblock nav-phone-book %}

{% block content %}
<div class="col col-lg-7 mx-auto">
    <h1 class="w-100 text-center mt-4 mb-3">Annuaire</h1>
    <table class="table table-hover table-sm">
        <thead class="table-light sticky">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th><i class="bi bi-envelope-at"></i> Mail</th>
                <th><i class="bi bi-telephone"></i> Fixe</th>
                <th><i class="bi bi-phone"></i> Mobile</th>
            </tr>
        </thead>
        {% for service in services %}
        <tr>
            <th colspan="{% if user.is_authenticated %}4{% else %}5{% endif %}"
                class="table-primary" id="service-{{ service.id }}">{{ service.name }}</th>
            {% if user.is_authenticated %}
            <th class="table-primary text-end" title="Trombinoscope {{service.name}}">
                <a class="btn btn-outline-primary" href="{% url 'service' service.id %}">
                    <i class="bi bi-file-person"></i>
                </a>
            </th>
            {% endif %}
        </tr>
        {% if service.mail %}
        <tr class="table-secondary">
            <th colspan="2"><i class="bi bi-envelope-at"></i> Adresse fonctionnelle</th>
            <td colspan="3"><a href="mailto:{{ service.mail }}">{{ service.mail }}</a></td>
        </tr>
        {% endif %}
        {% if service.phone %}
        <tr class="table-secondary">
            <th colspan="2"><i class="bi bi-telephone"></i> Standard</th>
            <td colspan="3">{{ service.phone.as_national }}</td>
        </tr>
        {% endif %}
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Chef' %}
                {% include 'app/partials/phone_book_line_snippet.html' %}
            {% endif %}
        {% endfor %}

        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Adjoint' %}
                {% include 'app/partials/phone_book_line_snippet.html' %}
            {% endif %}
        {% endfor %}

        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Secrétaire' %}
                {% include 'app/partials/phone_book_line_snippet.html' %}
            {% endif %}
        {% endfor %}

        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Autre' %}
                {% include 'app/partials/phone_book_line_snippet.html' %}
            {% endif %}
        {% endfor %}
        {% endfor %}
        <tfoot class="table-light sticky">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th><i class="bi bi-envelope-at"></i> Mail</th>
                <th><i class="bi bi-telephone"></i> Fixe</th>
                <th><i class="bi bi-phone"></i> Mobile</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}