{% extends 'base.html' %}
{% load mptt_tags %}

{% block additional-head %}{{ form.media.css }}{% endblock additional-head %}
{% block nav-phone-book %}active{% endblock nav-phone-book %}

{% block content %}
<div class="row">
<div class=" col-2 navbar bg-light mx-1 border-end" style="height: 100%; position: fixed; overflow-y: scroll;" role="navigation">
    <nav id="phone-book-nav" class="h-100 flex-column align-items-stretch pe-4" >
        <nav class="nav nav-pills flex-column">
            {% recursetree services %}
                <a class="nav-link
                {% if node.get_level == 0 %}
                    h4 border-top fw-bold
                {% elif node.get_level == 1 %}
                    border-top border-bottom fw-bold
                {% elif node.get_level == 2 %}
                    py-0
                {% elif 2 < node.get_level < 7 %}
                    py-0 ms-{{ node.get_level|add:'-1' }}
                {% elif node.get_level >= 7 %}
                    py-0 ms-5
                {% endif %}"
                href="#service-{{ node.id }}">
                    {% if node.acronym %}{{ node.acronym }}{% else %}{{ node.name }}{% endif %}
                </a>
            {% if not node.is_leaf_node %}
                {{ children }}
        {% endif %}
        {% endrecursetree %}
    </nav>
</div>

<div class="col col-lg-7 mx-auto">
    <h1 class="w-100 text-center mt-4 mb-3">Annuaire</h1>
    <table class="table table-hover table-sm">
        <thead class="table-light sticky">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th><i class="bi bi-envelope-at"></i> Mail</th>
                <th><i class="bi bi-telephone"></i> Fixe</th>
                {% if user.is_authenticated %}<th><i class="bi bi-phone"></i> Mobile</th>{% endif %}
            </tr>
        </thead>
        {% for service in services %}
        <tr style="	scroll-margin-top: 1em;">
            <th colspan="4" class="table-primary" id="service-{{ service.id }}">{{ service.name }}</th>
            {% if user.is_authenticated %}
            <th class="table-primary text-end" title="Trombinoscope {{service.name}}">
                <a class="btn btn-outline-primary" href="{% url 'service' service.id %}">
                    <i class="bi bi-file-person"></i>
                </a>
            </th>
            {% endif %}
        </tr>
        {% if service.mail %}
        <tr class="table-secondary">
            <th colspan="2"><i class="bi bi-envelope-at"></i> Adresse fonctionnelle</th>
            <td colspan="{% if user.is_authenticated %}3{% else %}2{% endif %}">
                <a href="mailto:{{ service.mail }}">{{ service.mail }}</a>
            </td>
        </tr>
        {% endif %}
        {% if service.phone %}
        <tr class="table-secondary">
            <th colspan="2"><i class="bi bi-telephone"></i> Standard</th>
            <td colspan="{% if user.is_authenticated %}3{% else %}2{% endif %}">{{ service.phone.as_national }}</td>
        </tr>
        {% endif %}
        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Chef' %}
                {% include 'app/partials/phone_book_line_snippet.html' %}
            {% endif %}
        {% endfor %}

        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Adjoint' %}
                {% include 'app/partials/phone_book_line_snippet.html' %}
            {% endif %}
        {% endfor %}

        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Secrétaire' %}
                {% include 'app/partials/phone_book_line_snippet.html' %}
            {% endif %}
        {% endfor %}

        {% for agent in service.agents.all|dictsort:"first_name"|dictsort:"last_name" %}
            {% if agent.role == 'Autre' %}
                {% include 'app/partials/phone_book_line_snippet.html' %}
            {% endif %}
        {% endfor %}
        {% endfor %}
        <tfoot class="table-light sticky">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th><i class="bi bi-envelope-at"></i> Mail</th>
                <th><i class="bi bi-telephone"></i> Fixe</th>
                <th><i class="bi bi-phone"></i> Mobile</th>
            </tr>
        </tfoot>
    </table>
    </div>
</div>
{% endblock %}